<% Track.all.order('tracks.created_at DESC').limit(5).each do |track| %>
	<table class="table table-hover table-striped">	
		<tbody>
			<tr>
				<td><%= link_to track.artist.name, artist_path(track.artist_id) %> - <%= link_to track.name, track_path(track) %></td>	
			</tr>
		</tbody>
	</table>
<% end %>