<% Favorite.joins("LEFT OUTER JOIN tracks ON favorites.track_id = tracks.id").select("tracks.name as name, tracks.artist_id as artist_id").group(:tracks.name, tracks.artist_id).order('COUNT(tracks.id) DESC').limit(5).each do |track| %>
	<div class="table-responsive">
		<table class="table table-condensed">	
			<tbody>
				<tr>
					<td><%= Artist.find(track.artist_id).name %> - <%= track.name %></td>	
				</tr>
			</tbody>
		</table>
	</div>
<% end %>