<tr>
  <td><%= link_to artist.name, artist_path(artist) %></td>
  <td><center><span class="badge"><%= artist.albums.count %></span></center></td>
  <td><center><span class="badge"><%= artist.tracks.count %></span></center></td>
</tr>