<div class = "row col-md-12">
	<div class = "well well-sm">
		<h3>Artists</h3>
		<% unless flash[:notice].blank? %>
			<div class = "alert alert-success">
				<p><%= flash[:notice] %></p>
			</div>
		<% end %>
	</div>	

	<div class="panel panel-default">  
  <div class="panel-heading"><strong>Artist details</strong></div>
  	<table class="table table-hover table-striped">	
			<thead>
				<tr>
	    		<th>Artist</th>
	    		<th>Albums</th>
	    		<th>Tracks</th>
				</tr>
			</thead>

			<tbody>
				<%= render @artist.order(name: :asc) %>
			</tbody>
		</table>
	</div>
</div>