<table class="table">
	<thead>
		<tr>
		<th></th>
		<th></th>
		</tr>
	</thead>
	<tbody>
		<tr>
		<td><strong>Playlist</strong></td>
		<td><%= @playlist_track.name %></td>

		<td><strong>Track</strong></td>
		<td><%= @playlist_track.track.name %></td>

		</tr>
	</tbody>

</table>