<tr>
  <td><%= link_to artist.name, admin_artist_path(artist) %></td>	
	<% if current_user.id == artist.user_id %>
		<td>
			<%= link_to edit_admin_artist_path(artist), class: 'btn btn-sm btn-primary' do %>
			<i class="glyphicon glyphicon-edit"></i> Edit
			<% end %>
			<%= link_to admin_artist_path(artist), method: :delete, data: {confirm: "Are you sure?"}, class: 'btn btn-sm btn-danger' do %>
				<i class="glyphicon glyphicon-trash"></i> Delete
			<% end %>
		</td>
	<% end %>
</tr>