<% provide(:title, "New Artist") %>
<div class = "row">
	<div class = "col-md-5 col-md-offset-2">
		<div class = "well"><h1 style = "text-align: center">Add new artist</h1>

		<%= render 'form' %>

		</div>
    <%= render 'back' %>
	</div>
</div>