<% provide(:title, "Edit Album") %>
<div class="well well-sm">
	<h1 style="text-align: center";>Update album</h1>   
	<%= render 'shared/validation_messages', model: @album %>
	<%= render 'form' %>
</div>
<%= render 'back' %>