<footer class="footer">
  <small>
    <%= link_to 'Tuner Music App', root_path %> by <a href="https://www.facebook.com/jusmir.husejnovic">Jusmir Husejnović</a> © 2017
  </small>
  <nav>
	  <ul>
		  <li>About</li>
		  <li>Contact Us</li>
		  <li>Privacy Policy</li>
		</ul>
	</nav>
</footer>