	<div class="panel panel-default panel-custom-horrible-red">  
  <div class="panel-heading"><strong>Latest albums</strong></div>
  		<%= render 'albums/top5' %>
  <br>
  <br>
	 <div class="panel-heading" ><strong>Popular tracks</strong></div>
  		<%= render 'tracks/popular' %>
	</div>


