<div class="panel panel-default panel-custom-albums">  
  <div class="panel-heading"><strong>Latest albums</strong></div>
  <%= render 'albums/top5' %>
</div>
<div class="panel panel-default panel-custom-tracks">
	<div class="panel-heading"><strong>Popular tracks</strong></div>
  <%= render 'albums/top5' %>
</div>