<% provide(:title, "Edit #{@genre.name}") %>
<div class="well well-sm">
	<h1 style="text-align: center";>Update genre</h1>
  <%= render 'shared/error_messages', model: @genre %>
  <%= render 'form' %>
 </div>
 <%= render 'back' %>