<% provide(:title, "Edit #{@genre.name}") %>
<div class = "row">
  <div class = "col-md-6">
  	<div class="well well-sm"><h1 style="text-align: center";>Update genre</h1>   

    <%= render 'shared/validation_messages', model: @genre %>
    <%= render 'form' %>
  	</div>
  	<%= render 'back' %>
  </div>    
</div>