<% provide(:title, "#{@genre.name}") %>
<div class="panel panel-primary panel-custom-show">
  <div class="panel-heading">
    <h3 class="panel-title">Genre</h3>
  </div>
  <div class="panel-body">
    <%= @genre.name %>
  </div>    
  
  <div class="panel-heading">
    <h3 class="panel-title">Genre description</h3>
  </div>
  <div class="panel-body">
    <%= @genre.description %>
  </div>    
      
  <%= render 'tracks' %>  
</div>
<%= render 'back' %>