<center>
<div class='page-header'>
	<h1><%= @title.upcase %></h1>
</div>

<% unless logged_in? %>
<%= image_tag('tuner.jpg', alt: "tuner") %>
</br>
<%= link_to 'Sign up', signup_path, class: "btn btn-danger" %>
<%= link_to 'Login', login_path, class: "btn btn-success" %>
<% end %>
</center>
