<center>
<div class='page-header'>
	<h1><%= @title.upcase %></h1> 
</div>

<%= image_tag('tuner.jpg', alt: "tuner") %>
</br>
<%= link_to 'Sign up', new_user_path, class: "btn btn-danger" %>
<%= link_to 'Login', new_session_path, class: "btn btn-success" %>
</center>
