<% provide(:title, "Privacy Policy") %>
<br>
<div class="panel panel-custom-show">
  <div class="panel-heading">
    <h3 class="panel-title">Privacy policy</h3>
  </div>
  <div class="panel-body">    
		<p><%= @privacy %></p>
  </div>
</div>