@import "bootstrap-sprockets"
@import "bootstrap"

.footer
  margin-top: 45px
  padding-top: 5px
  border-top: 1px solid #eaeaea
  color: #777

.footer a 
  color: #555

.footer a:hover 
  color: #222

.footer small 
  float: left

.footer ul 
  float: right
  list-style: none

.footer ul li 
  float: left
  margin-left: 15px

.splash 
  background-image: url("tuner.jpeg")
  background-size: contain
  background-position: left
  background-repeat: no-repeat

  /* sidebar */

aside 
  section.user_info 
    margin-top: 20px
  
  section 
    padding: 10px 0
    margin-top: 20px
    &:first-child 
      border: 0
      padding-top: 0
    
    span 
      display: block
      margin-bottom: 3px
      line-height: 1
    
    h1 
      font-size: 1.4em
      text-align: left
      letter-spacing: -1px
      margin-bottom: 3px
      margin-top: 0px
    
.gravatar 
  float: left
  margin-right: 10px


.gravatar_edit 
  margin-top: 15px

.checkbox 
  margin-top: -10px
  margin-bottom: 10px
  span 
    margin-left: 20px
    font-weight: normal
  

#session_remember_me 
  width: auto
  margin-left: 0

.column 
    float: left
    width: 20%
    margin-bottom: 16px
    padding: 0 8px
    border: 1px solid #eaeaea

/* Display the columns below each other instead of side by side on small screens */
@media (max-width: 300px) 
    .column 
        width: 100%
        display: block
      
    


/* Add some shadows to create a card effect */
.card 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2)
    
.card-text
  font-size: 40px


/* Some left and right padding inside the container */
.container 
    padding: 0 16px


/* Clear floats */
.container::after, .row::after 
    content: ""
    clear: both
    display: table

.title 
    color: grey
