@import "bootstrap-sprockets"
@import "bootstrap"
@import "font-awesome-sprockets"
@import "font-awesome"

.footer
  margin-top: 45px
  padding-top: 5px
  border-top: 1px solid #eaeaea
  color: white
  text-shadow: #000 1px 1px 1px
  -webkit-font-smoothing: antialiased

.footer a 
  color: lightgrey

.footer a:hover 
  color: #222

.footer small 
  float: left

.footer ul 
  float: right
  list-style: none

.footer ul li 
  float: left
  margin-left: 15px

.splash 
  background-image: url("ikona.png")
  background-size: contain
  background-position: left
  background-repeat: no-repeat

  /* sidebar */

.aside 
  section.user_info 
    margin-top: 20px
  
  section 
    padding: 10px 0
    margin-top: 20px
    &:first-child 
      border: 0
      padding-top: 0
    
    span 
      display: block
      margin-bottom: 3px
      line-height: 1
    
    h1 
      font-size: 1.4em
      text-align: left
      letter-spacing: -1px
      margin-bottom: 3px
      margin-top: 0px
    
.gravatar 
  float: left
  margin-right: 10px


.gravatar_edit 
  margin-top: 15px

.checkbox 
  margin-top: -10px
  margin-bottom: 10px
  span 
    margin-left: 20px
    font-weight: normal
  

#session_remember_me 
  width: auto
  margin-left: 0

.column 
    float: left
    width: 20%
    margin-bottom: 16px
    padding: 0 8px
    border: 1px solid #eaeaea

@media (max-width: 300px) 
    .column 
        width: 100%
        display: block

/* Add some shadows to create a card effect */
.card 
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2)
    
.card-text
  font-size: 40px


/* Some left and right padding inside the container */
.container 
    padding: 0 16px


/* Clear floats */
.container::after, .row::after 
    content: ""
    clear: both
    display: table

.title 
    color: grey

.icon-button 
    appearance: none
    -webkit-appearance: none
    -moz-appearance: none
    outline: none
    border: 0
    background: transparent

.gi-2x
  font-size: 1.6em
  vertical-align: middle

.glyphicon-heart 
  color: red

.glyphicon-heart-empty
  color: red

.glyphicon-play
  color: darkorange

.html, body   
  color: grey
  font: 14px/1.5 Helvetica, Arial, sans-serif
  background-image: url("bgr.jpg")
  background-size: cover
  background-attachment: fixed
  background-repeat: no-repeat
  background-position: center  

.a 
  color: #efaaca
  text-decoration: none

.panel-custom-tracks > .panel-heading 
    color: #ffffff
    border-color: black
    background-image: url("last5.png")
    background-size: contain
    background-repeat: no-repeat
    background-position: center

.panel-custom-albums > .panel-heading 
    color: #ffffff
    border-color: black
    background-image: url("5-albums.png")
    background-size: contain
    background-repeat: no-repeat
    background-position: center

// Custom Colored Panels

.huge 
  font-size: 40px

.panel-green 
    border-color: green
    > .panel-heading 
        border-color: green
        color: white
        background-color: green
    
    > a 
        color: green
        &:hover 
            color: darken(green, 15%)

.panel-red 
    border-color: red
    > .panel-heading 
        border-color: red
        color: white
        background-color: red
    
    > a 
        color: red
        &:hover 
            color: darken(red, 15%)

.panel-orange 
    border-color: orange
    > .panel-heading 
        border-color: orange
        color: white
        background-color: orange

    > a 
        color: orange
        &:hover 
            color: darken(orange, 15%)

.panel-powderblue
    border-color: #FA58AC
    > .panel-heading 
        border-color: #FA58AC
        color: white
        background-color: #FA58AC

    > a 
        color: #FA58AC
        &:hover 
            color: darken(#FA58AC, 15%)

.well-artists
  background-image: url("artists.png")
  background-size: contain
  background-repeat: no-repeat
  background-color: black
  background-position: center
  border-color: black

.well-tracks
  background-image: url("tracks.png")
  background-size: contain
  background-repeat: no-repeat
  background-color: black
  background-position: right center
  border-color: black

.well-albums
  background-image: url("albums.png")
  background-size: contain
  background-repeat: no-repeat
  background-color: black
  background-position: center
  border-color: black

.well-genres
  background-image: url("genres.png")
  background-size: contain
  background-repeat: no-repeat
  background-color: black
  background-position: center
  border-color: black

.well-playlists
  background-image: url("playlists.png")
  background-size: contain
  background-repeat: no-repeat
  background-color: black
  background-position: center
  border-color: black

.well-favorites
  background-image: url("favorites.png")
  background-size: contain
  background-repeat: no-repeat
  background-color: black
  background-position: right
  border-color: black

.btn.my-btn
  background-color: #FFBF00

.table
  text-shadow: 0px 0px 2px #999
  
.panel-custom-show > .panel-heading 
  color: #ffffff
  border-color: black
  background-image: url("strip.png")
  background-size: contain
  background-repeat: repeat
  background-position: center

.digg_pagination
  background: white
  cursor: default
  a, span, em
    padding: 0.2em 0.5em
    display: block
    float: left
    margin-right: 1px
  .disabled
    color: #999999
    border: 1px solid #dddddd
  .current
    font-style: normal
    font-weight: bold
    background: #2e6ab1
    color: white
    border: 1px solid #2e6ab1
  a
    text-decoration: none
    color: #105cb6
    border: 1px solid #9aafe5
    &:hover, &:focus
      color: #000033
      border-color: #000033
  .page_info
    background: #2e6ab1
    color: white
    padding: 0.4em 0.6em
    width: 22em
    margin-bottom: 0.3em
    text-align: center
    b
      color: #000033
      background: #2e6ab1 + 60
      padding: 0.1em 0.25em
  /* self-clearing method:
  &:after
    content: "."
    display: block
    height: 0
    clear: both
    visibility: hidden
  * html &
    height: 1%
  *:first-child+html &
    overflow: hidden