<% provide(:title, "Edit Playlist") %>
<div class="well well-sm">
	<h1 style="text-align: center";>Update playlist</h1>   
	<%= render 'shared/validation_messages', model: @playlist %>
	<%= render 'form' %>
</div>
<%= render 'back' %>