<% provide(:title, "New Playlist") %>
<div class = "row">
	<div class = "col-md-6 col-md-offset-3">
	<br>
	<br>
		<div class = "well"><h1 style = "text-align: center">Add new playlist</h1>

		<%= render 'form' %>

		</div>
    <%= render 'back' %>
	</div>
</div>