<tr>
  <td><%= link_to playlist.name, superadmin_playlist_path(playlist) %></td>
	
	<% if logged_in? %>
	<td><%= link_to ' Edit', edit_superadmin_playlist_path(playlist), class: ' btn btn-sm btn-primary' %>
			<%= link_to ' Delete', superadmin_playlist_path(playlist), method: :delete, data: {confirm: "Are you sure?"}, class: 'btn btn-sm btn-danger' %></td>
			<% end %>
</tr>