<% provide(:title, "Edit Playlist") %>
<div class = "row">
  <div class = "col-md-4 col-md-offset-2">
  	<div class="well well-sm"><h1 style="text-align: center";>Update playlist</h1>   

    <%= render 'shared/validation_messages', model: @playlist %>
    <%= render 'form' %>
  	</div>
  	<%= render 'back' %>
  </div>    
</div>